<div class="block">
  <img height="150px" src="{{image}}">
  <div>
    <b>{{title}}</b><br>
    <p>
      {{{content}}}
    </p>
  </div>
  <a href="{{link}}" rel="noreferrer" class="next fas fa-caret-right"></a>
</div>