<div class="block-min">
  <h1>Contact Me</h1>
</div>
<article>
  <p>
    You can get hold of me at <a href="mailto:me@example.com" class="fas fa-envelope" target="_blank"> me@example.com</a>, you can also check out my <a href="https://twitter.com/" class="fab fa-twitter" target="_blank"> Twitter</a> or my <a href="https://www.instagram.com/" class="fab fa-instagram" target="_blank"> Instagram</a>
  </p>
</article>