<article>
  <h1>Heading 1 (This is an article)</h1>
  <p>
    There is some <b>bold</b> text, but also <i>italic</i> and <u>underlined</u> You can also go to a...<br>
    ...new line within the same paragraph or write code as such: <code>print('Hello World!')</code> or <mark>highlighted</mark> text!
  </p>
  <h1 class="color-primary">Heading 1 + Primary Color</h1>
  <p>
    Click on an image to increase the brightnessw when in night mode. Wait ... what? Night Mode??? Yep, click on the "Q" above. It also saves the setting between sessions (for example: if you refresh the page)
  </p>
  <span class="insert">All photos from <a href="https://unsplash.com/" rel="noreferrer" target="_blank">Unsplash</a></span>
  <img class="insert" src="/static/image/insert.jpg" alt="Photo by Viviana Rishe on Unsplash">
  <p>
    {{> lorem}}
  </p>
  <h2>Heading 2</h2>
  <img class="wide" src="/static/image/wide.jpg" alt="Photo by Maarten van den Heuvel on Unsplash">
  <h3>Heading 3</h3>
  <img class="vertical center" src="/static/image/vertical.jpg" alt="Photo by Trevor Cleveland on Unsplash">
  <p>
    {{> lorem}}
  </p>
  <h4>Heading 4</h4>
  <pre>def helloWorld():
    // Prints "Hello World"
    print("Hello World")</pre>
  <img class="profile center" src="/static/image/profile.jpg" alt="Photo by Melanie Dretvic on Unsplash">
</article>